<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <a target="_blank" href="https://www.hcode.com.br">Hcode</a>
    </div>
    <!-- Default to the left -->
    Produzido por Pixeloko Studios c- 2020 #ficaEmCasa
  </footer>